<%- include("partials/header") %>

<div class="container">
	<h1>
		Add New Comment
	</h1>
	<br />
	<form action="/games/<%= gameId %>/comments" method="POST">
		<div class="form-group">
			<label for="text">Comment Text</label>
			<textarea class="form-control" name="text" id="text" rows="8" cols="8" placeholder="Comments text here...." required></textarea>
		<input type="hidden" name="gameId" value="<%= gameId %>">
			<br />
			<button type="submit" class="btn btn-primary">
				Submit Comment
			</button>
		</div>
	</form>
</div>

<%- include("partials/footer") %>